<div class="card">
  <div class="card-title text-uppercase text-center">
    <h3 class="pt-3 mb-0">Add Category</h3>
  </div>
  <div class="card-body pb-0">
    <form
      class="form-reset pb-3"
      [formGroup]="adminAddCategory"
      (ngSubmit)="onSubmit(f)"
    >
      <!-- password -->
      <div class="form-group">
        <!-- add category -->
        <div class="form-row row">
          <label class="sr-only">New Category</label>
          <input
            type="text"
            formControlName="category"
            placeholder="New Category"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && f.category.errors
            }"
          />
          <!-- add category errors -->
          <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
            <div *ngIf="f.category.errors.required">Category is required</div>
            <div *ngIf="f.category.errors.maxlength">
              Category name must not be more than 20 characters
            </div>
          </div>
        </div>
      </div>
      <!-- submit -->
      <div class="row text-center">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-secondary">
          <button
            class="btn btn-outline-light btn-block mt-2 text-uppercase"
            type="submit"
          >
            Add Category
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
