<div
  class="container-md container-fluid my-5"
  *ngFor="let category of categories"
>
  <h2 class="title text-capitalize">
    {{ category }}
  </h2>
  <div
    id="carousel{{ category }}Controls"
    class="carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row flex-nowrap">
          <div
            class="col-6 col-lg-2 col-md-4 py-3 px-2"
            *ngFor="let i of [1, 2, 3, 4]"
          >
            <img src="assets/images/product-4.jpg" alt="" />
            <h3>Blue T-Shirt</h3>
            <div
              class="
                price-offer
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <p class="price m-0">$50.00</p>
              <p class="offer m-0 px-1">50% off</p>
            </div>

            <p class="extra-info pt-2 text-muted">
              Eligible for Shipping To Mars or somewhere else
            </p>
            <div
              class="
                rating-watch
                d-flex
                justify-content-between
                align-items-center
                flex-nowrap
              "
            >
              <div
                class="
                  star-rating
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-nowrap
                "
              >
                <div class="stars mr-1">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p class="rating m-0">3.7</p>
              </div>
              <div class="watch px-1">
                <span>
                  <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row flex-nowrap">
          <div
            class="col-6 col-lg-2 col-md-4 py-3 px-2"
            *ngFor="let i of [1, 2, 3, 4]"
          >
            <img src="assets/images/product-4.jpg" alt="" />
            <h3>Blue T-Shirt</h3>
            <div
              class="
                price-offer
                d-flex
                justify-content-between
                align-items-center
              "
            >
              <p class="price m-0">$50.00</p>
              <p class="offer m-0 px-1">50% off</p>
            </div>

            <p class="extra-info pt-2 text-muted">
              Eligible for Shipping To Mars or somewhere else
            </p>
            <div
              class="
                rating-watch
                d-flex
                justify-content-between
                align-items-center
                flex-nowrap
              "
            >
              <div
                class="
                  star-rating
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-nowrap
                "
              >
                <div class="stars mr-1">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p class="rating m-0">3.7</p>
              </div>
              <div class="watch px-1">
                <span>
                  <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row flex-nowrap">
          <div
            class="col-6 col-lg-2 col-md-4 py-3 px-2"
            *ngFor="let i of [1, 2, 3, 4]"
          >
            <img src="assets/images/product-4.jpg" alt="" />
            <h3>Blue T-Shirt</h3>
            <div
              class="
                price-offer
                d-flex
                justify-content-around
                align-items-center
              "
            >
              <p class="price m-0">$50.00</p>
              <p class="offer m-0 px-1">50% off</p>
            </div>

            <p class="extra-info pt-2 text-muted">
              Eligible for Shipping To Mars or somewhere else
            </p>
            <div
              class="
                rating-watch
                d-flex
                justify-content-between
                align-items-center
                flex-nowrap
              "
            >
              <div
                class="
                  star-rating
                  d-flex
                  justify-content-between
                  align-items-center
                  flex-nowrap
                "
              >
                <div class="stars mr-1">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star-half-o" aria-hidden="true"></i>
                  <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p class="rating m-0">3.7</p>
              </div>
              <div class="watch px-1">
                <span>
                  <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#carousel{{ category }}Controls"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carousel{{ category }}Controls"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="d-flex align-items-end flex-column pt-2 pb-4">
    <button
      type="button"
      class="btn btn-block btn-primary w-50"
      routerLink="../recent"
    >
      Add item
    </button>
    <button type="button" class="btn btn-block btn-outline-danger w-50">
      Delete All
    </button>
  </div>
</div>
