<div class="d-flex flex-column px-3 py-2">
  <div class="container w-75">
    <img src="assets/images/user-1.png" alt="Avatar" />
    <p>Hello. How are you today?</p>
    <span class="time-right">11:00</span>
  </div>

  <div class="container w-75 darker">
    <img src="assets/images/user-2.png" alt="Avatar" class="right" />
    <p>Hey! I'm fine. Thanks for asking!</p>
    <span class="time-left">11:01</span>
  </div>

  <div class="container w-75">
    <img src="assets/images/user-1.png" alt="Avatar" />
    <p>Sweet! So, what do you wanna do today?</p>
    <span class="time-right">11:02</span>
  </div>

  <div class="container w-75 darker">
    <img src="assets/images/user-2.png" alt="Avatar" class="right" />
    <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
    <span class="time-left">11:05</span>
  </div>
</div>
<div class="type_msg">
  <div class="input_msg_write mx-3">
    <input type="text" class="write_msg pl-4" placeholder="Type a message" />
    <button class="msg_send_btn mr-3" type="button">
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
  </div>
</div>
