.container {
  background: #f5f5f5;
}

.card-header {
  background: #fff;
  border-bottom: 0.2em solid var(--theme-color, orange);
}

.logo {
  width: 10em;
  padding: 0 0.4em 0.4em;
}

.logoName {
  color: var(--theme-color, orange);
  font-weight: bold;
}

.top-btn {
  background-color: var(--theme-color, orange);
}

.login,
.register {
  color: #fff;
  background: var(--theme-color, orange);
  border-width: 2px !important;
  border-radius: 2px;
}

.login:focus,
.register:focus,
.login:active,
.register:active,
.login:hover,
.register:hover {
  background: #fff;
  color: var(--theme-color, orange);
}

.form-login {
  width: 100%;
  /* max-width: 330px; */
  padding: 1px;
  margin: 0 auto;
}

.form-login .checkbox {
  font-weight: 400;
}

.form-login .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 0.7em;
  font-size: 1rem;
}

.form-login .form-control:focus {
  z-index: 2;
}

.form-login input {
  border-width: 0;
  border-bottom: 0.1em solid #c0c0c6;
  outline-color: #c0c0c6;
}

.form-login input[type="email"] {
  margin-bottom: 1em;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
  margin-bottom: 0.7em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-default {
  background-color: var(--theme-color, orange);
  outline-color: var(--theme-color, orange);
  border-color: var(--theme-color, orange);
}

.btn-default:hover {
  color: var(--theme-color, orange);
  background-color: transparent;
}

.btn-fb:hover {
  background-color: transparent;
  color: #1e7df7;
}

.first-time a {
  color: var(--theme-color, orange);
  font-weight: bold;
}

.first-time a:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* strike */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 0.1em;
  background: #c0c0c6;
}

.strike > span:before {
  right: 100%;
  margin-right: 1em;
}

.strike > span:after {
  left: 100%;
  margin-left: 1em;
}
