<div class="footer container-fluid bg-dark text-light mt-auto">
  <div class="container py-4">
    <div class="row py-4">
      <div class="col-lg-4 col-12 pl-0">
        <h2 class="brand font-weight-bolder">LOGO</h2>
      </div>
      <div class="col-lg-2 col-12">
        <h3>Mobile App</h3>
        <ul>
          <li>
            <a href="#">Feature</a>
          </li>
          <li>
            <a href="#">Live Share</a>
          </li>
          <li>
            <a href="#">Video Record</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-12">
        <h3>Community</h3>
        <ul>
          <li><a href="#">Featured artists</a></li>
          <li><a href="#">The Portal</a></li>
          <li><a href="#">Live events</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-12">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">History</a></li>
          <li><a [routerLink]="['/seller']">Sell on this platform</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-12 d-flex flex-column pr-0">
        <button
          type="button"
          class="btn btn-primary register my-2"
          (click)="onClick('register')"
        >
          Register
        </button>
        <button
          type="button"
          class="btn btn-outline login my-2"
          (click)="onClick('login')"
        >
          Login
        </button>
      </div>
    </div>
    <div class="row py-4 d-flex justify-content-end">
      <p class="m-0 mr-3">Follow us:</p>
      <div class="social-media d-flex justify-content-end align-items-center">
        <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
        <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
        <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
</div>
