<div class="container">
  <h2 class="text-center">Invoice</h2>
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card mb-5">
        <div class="card-header">
          <div
            class="
              card-title
              text-uppercase
              pt-3
              px-2
              d-flex
              justify-content-start
            "
          >
            <h3 class="mb-0">Invoices List</h3>
          </div>
        </div>
        <div class="card-body pt-0">
          <app-seller-invoice-table></app-seller-invoice-table>
        </div>
        <div class="card-body">
          <app-seller-view-invoice id="invoice"></app-seller-view-invoice>
        </div>
        <div class="card-footer text-muted d-flex justify-content-end">
          <a class="btn btn-primary" role="button"> Export to PDF </a>
          <a class="btn btn-primary ml-2" role="button"> Send </a>
        </div>
      </div>
    </div>
  </div>
</div>
