.container {
  background: #fff;
}

.navbar-brand {
  color: var(--theme-color, orange);
}

.navbar-brand h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.navbar-brand p {
  padding-left: 4rem;
  font-size: 1.1em;
  font-weight: 400;
}

h4 a {
  color: inherit;
  opacity: 0.75;
}

h4 a:hover {
  text-decoration: none;
}

li {
  background: transparent;
  border: none;
  padding-left: 4em;
}

li:hover {
  background-color: var(--theme-color, orange);
  cursor: pointer;
  border-radius: 0;
}

i {
  float: right;
  color: #000;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.3em;
}

li.btn-link {
  color: var(--theme-color, orange);
  text-transform: uppercase;
}

li.btn-link:hover {
  background: #d5d5d5;
}
