<div class="container py-4">
  <div class="card-header d-flex flex-row justify-content-between">
    <h4 class="">Addresses</h4>
    <button type="submit" class="btn btn-outline-light text-uppercase">
      Add new address
    </button>
  </div>
  <div class="row my-3">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <div class="card-text my-2">
            <p class="text-muted">Road 1</p>
            <p class="text-muted">Venue 1</p>
            <p class="text-muted">City</p>
          </div>
          <i class="fa fa-pencil m-3" aria-hidden="true"></i>
          <i class="fa fa-trash m-3" aria-hidden="true"></i>
          <button class="btn btn-link text-uppercase disabled">
            set as default
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">John Doe</h5>
          <div class="card-text my-2">
            <p class="text-muted">Road 2</p>
            <p class="text-muted">Venue 2</p>
            <p class="text-muted">City</p>
          </div>
          <i class="fa fa-pencil m-3" aria-hidden="true"></i>
          <i class="fa fa-trash m-3" aria-hidden="true"></i>
          <button class="btn btn-link text-uppercase">set as default</button>
        </div>
      </div>
    </div>
  </div>
</div>
