<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-12 pb-5">
      <form
        class="form-reset pt-5 pb-3"
        [formGroup]="sellerPasswordResetForm"
        (ngSubmit)="onSubmit()"
      >
        <h3 class="h3 mb-3">Reset Password</h3>
        <!-- password -->
        <div class="form-group">
          <!-- current password -->
          <div class="form-row">
            <label class="sr-only">Current Password</label>
            <input
              type="password"
              formControlName="currentPassword"
              placeholder="Current Password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.currentPassword.errors
              }"
            />
            <!-- confirm password errors -->
            <div
              *ngIf="submitted && f.currentPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.currentPassword.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <!-- new password -->
          <div class="form-row">
            <label class="sr-only">New Password</label>
            <input
              type="password"
              formControlName="password"
              placeholder="New Password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <!-- password errors -->
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <!-- confirm password -->
          <div class="form-row">
            <label class="sr-only">Confirm New Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm New Password"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && f.confirmPassword.errors
              }"
            />
            <!-- confirm password errors -->
            <div
              *ngIf="submitted && f.confirmPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.confirmPassword.errors.required">
                Confirm Password is required
              </div>
              <div *ngIf="f.confirmPassword.errors.mustMatch">
                Passwords must match
              </div>
            </div>
          </div>
        </div>
        <!-- submit -->
        <button
          class="
            btn btn-lg btn-primary btn-block btn-default
            mt-2
            text-uppercase
          "
          type="submit"
        >
          submit
        </button>
      </form>
    </div>
  </div>
</div>
